@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #F5F5F1;
	color : #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar-default .navbar-brand{
	font-family: guardian-egyptt, georgia, serif;
	font-weight: 400;
	color : #F56400;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	color : #2AA4C1;
}

.center{
	text-align: center;
}

.col-md-6{
	h3 {font-size: 40px;}
	p {font-size: 20px;}
}
.caption{
	h3{
		font-size: 17px;
		margin : 2px;
	}
	p{
		font-size: 15px;
		margin: 0px;
	}
}

.jumbotron{
	background-image : url('Birds-girl-painting.jpg');
}